## Pandas

In [4]:
import pandas as pd
import numpy as np

# Load a big dataset
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv'
df = pd.read_csv(url)

# Clean column names
df.columns = df.columns.str.strip().str.replace('"', '')

In [5]:
# Display the first few rows of the dataset
print(df.head())

   Index  Height(Inches)  Weight(Pounds)
0      1           65.78          112.99
1      2           71.52          136.49
2      3           69.40          153.03
3      4           68.22          142.34
4      5           67.79          144.30

In [6]:
### The Series Data Structure
# Create a Series from a column of the DataFrame
height_series = df['Height(Inches)']
print(height_series.head())

0    65.78
1    71.52
2    69.40
3    68.22
4    67.79
Name: Height(Inches), dtype: float64

In [8]:
### Querying a Series
# Querying a Series to find heights greater than 70 inches, first 10
print(height_series[height_series > 70][:10])

1     71.52
7     70.01
15    71.09
18    71.23
26    70.84
33    70.60
34    71.80
52    70.27
55    70.18
56    70.41
Name: Height(Inches), dtype: float64

In [9]:
### DataFrame Data Structure
# Display the DataFrame structure
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index           200 non-null    int64
 1   Height(Inches)  200 non-null    float64
 2   Weight(Pounds)  200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB
None

In [10]:
### DataFrame Indexing and Loading
# Set the index of the DataFrame to the 'Index' column
df.set_index('Index', inplace=True)
print(df.head())

       Height(Inches)  Weight(Pounds)
Index
1               65.78          112.99
2               71.52          136.49
3               69.40          153.03
4               68.22          142.34
5               67.79          144.30

In [12]:
### Querying a DataFrame
# Querying the DataFrame to find rows where height is greater than 70 inches, first 10
print(df[df['Height(Inches)'] > 70][:10])

       Height(Inches)  Weight(Pounds)
Index
2               71.52          136.49
8               70.01          136.46
16              71.09          140.00
19              71.23          137.90
27              70.84          142.42
34              70.60          136.22
35              71.80          140.10
53              70.27          125.48
56              70.18          147.89
57              70.41          155.90

In [16]:
### Indexing DataFrames
# Indexing DataFrames using loc and iloc
print(df.loc[1])  # Using loc to access the row with index 1 | loc is label-based, which means that you have to specify the name of the rows and columns that you need to filter out.
print(df.iloc[0])  # Using iloc to access the first row | iloc is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

Height(Inches)     65.78
Weight(Pounds)    112.99
Name: 1, dtype: float64
Height(Inches)     65.78
Weight(Pounds)    112.99
Name: 1, dtype: float64

In [14]:
### Missing Values
# Check for missing values in the DataFrame
print(df.isnull().sum())

Height(Inches)    0
Weight(Pounds)    0
dtype: int64

In [15]:
# Fill missing values with the mean of the column
df.fillna(df.mean(), inplace=True)
print(df.isnull().sum())

Height(Inches)    0
Weight(Pounds)    0
dtype: int64

In [17]:
# Example of merging two DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

merged_df = pd.merge(df1, df2, on='key', how='inner')
print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6

In [18]:
# Using pandas idioms to improve performance
# Example: Adding a new column 'BMI' (Body Mass Index) to the DataFrame

# Traditional way
df['BMI'] = df.apply(lambda row: row['Weight(Pounds)'] / (row['Height(Inches)'] ** 2) * 703, axis=1)

# Pandas idiom way
df = df.assign(BMI=df['Weight(Pounds)'] / (df['Height(Inches)'] ** 2) * 703)

print(df.head())

       Height(Inches)  Weight(Pounds)        BMI
Index
1               65.78          112.99  18.357249
2               71.52          136.49  18.758631
3               69.40          153.03  22.336389
4               68.22          142.34  21.501010
5               67.79          144.30  22.074475

In [19]:
# Create a new column 'Category' for demonstration
df['Category'] = np.where(df['Height(Inches)'] > 70, 'Tall', 'Short')

# Group by the 'Category' column and calculate the mean of each group
grouped_df = df.groupby('Category').mean()

print(grouped_df)

          Height(Inches)  Weight(Pounds)        BMI
Category
Short          67.381667      125.289226  19.390860
Tall           70.932500      137.368750  19.196746

In [20]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Select the columns to scale
columns_to_scale = ['Height(Inches)', 'Weight(Pounds)', 'BMI']

# Fit and transform the data
scaled_data = scaler.fit_transform(df[columns_to_scale])

# Create a new DataFrame with the scaled data
scaled_df = pd.DataFrame(scaled_data, columns=columns_to_scale, index=df.index)

# Display the first few rows of the scaled DataFrame
print(scaled_df.head())

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

       Height(Inches)  Weight(Pounds)       BMI
Index
1           -1.121051       -1.192853 -0.660014
2            1.844583        0.776803 -0.395770
3            0.749262        2.163105  1.959585
4            0.139602        1.267121  1.409628
5           -0.082562        1.431399  1.787159

In [21]:
# Create a pivot table to calculate the mean BMI for each Category
pivot_table = df.pivot_table(values='BMI', index='Category', aggfunc='mean')

print(pivot_table)

                BMI
Category
Short     19.390860
Tall      19.196746

In [22]:
from IPython.display import display

display(df)

       Height(Inches)  Weight(Pounds)        BMI Category
Index
1               65.78          112.99  18.357249    Short
2               71.52          136.49  18.758631     Tall
3               69.40          153.03  22.336389    Short
4               68.22          142.34  21.501010    Short
5               67.79          144.30  22.074475    Short
...               ...             ...        ...      ...
196             65.80          120.84  19.620689    Short
197             66.11          115.78  18.623211    Short
198             68.24          128.30  19.368855    Short
199             68.02          127.47  19.368235    Short
200             71.39          127.88  17.639375     Tall

[200 rows x 4 columns]